# Файлы/папки сборки CMake
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Сгенерированные исполняемые файлы/объекты
*.o
*.obj
*.exe
*.out
*.app
*.a
*.so
*.dll

# Файлы IDE и временные
*.user
*.swp
*.swo
*.log
.DS_Store
.idea/
.vscode/
*.iml
c_cpp_properties.json

# Файлы тестовой генерации
*.seed

# Секреты и приватные ключи
*.pem
*.crt
*.key

# core dumps
core.*

# Другие возможные артефакты
main

#Переменные окружения
.env