services:
  backend:
    build: ./backend
    ports:
      - "${PORT}:8080"
    env_file:
      - .env
    networks:
      - app_network
    restart: unless-stopped

  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  pgdata:
